<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>WebPack-Vue</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
</head>
<body>
    <div id="app">
        {{msg}}
        <!-- <button-counter></button-counter> -->
        <!-- <login></login>这里会报错，因为login是app2中的一个私有组件 -->
        <!-- <blog-post title-name="post.title" fontsize='20'></blog-post> -->
        <!-- <blog-post v-for="post in posts" :post="post" :key = "post.id" fontsize='20'></blog-post> -->
        <!-- <div >
            <blog-post 
            :style="{fontSize:postFont+'em'}"
                v-for="post in posts" 
                :post="post" 
                :key = "post.id" 
                @enlarge-text="doLargeText">
            </blog-post>
        </div> -->
        <custom-input v-model='msg' @button-click='camelCase'></custom-input>
    </div>
    <!-- <div id="app2">
        <button-counter></button-counter>
        <login></login>
    </div> -->
</body>
<!-- <script src="bundle.js"></script> -->
</html>